body {
    font-family: 'Rockwell';
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5; /* Line spacing 1,5 */
}

@media only screen and (min-width: 769px){

    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 3px solid #000;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        line-height: 1.5; /* Line spacing 1,5 */
    }

    h1 {
        margin-bottom: 20px;
        font-size: 30px;
        font-family: 'Rockwell', cursive;
        background: linear-gradient(45deg, #ff0000, #ff9900, #ffff00, #33cc33, #3366ff, #9933cc, #ff33cc);
        background-size: 600% 600%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #000; /* Add text-stroke effect to the gradient text */
        -webkit-text-fill-color: transparent;
        animation: gradientAnimation 15s infinite;
        line-height: 1.5; /* Line spacing 1,5 */
        margin-bottom: 20px; 
    }

    .input-container {
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 70%;
        padding: 10px;
        margin: 7px 0;
        border: 2px solid #00eaff;
        border-radius: 5px;
        ::placeholder { /* Ukuran placeholder */
            font-size: 14px;
        }
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.2s ease;
    }

    button:hover {
        animation: shakeAnimation 0.5s infinite, colorChangeAnimation 1s infinite, zoomAnimation 0.5s infinite;
        }

    #score {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        line-height: 1.5; /* Line spacing 1,5 */
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('path_to_minecraft.gif'); /* Ganti 'path_to_minecraft.gif' dengan URL gambar Minecraft bergerak */
        background-size: cover;
        z-index: -1;
        animation: slideBackground 20s linear infinite; /* Atur kecepatan gerakan background (20s untuk contoh ini) */
    }
    
    .background1 {
        position: fixed;
        top: 6%;
        left: 13%;
        transform: translate(-100%, -100%) scale(1); /* Menengahkan .background1 dan mengatur skala awal */
        width: 75%;
        height: 10%;
        background-image: url('minecraft-image.png'); /* Ganti 'path_to_minecraft.gif' dengan URL gambar Minecraft */
        background-size: cover;
        z-index: -1;
        animation: zoomAnimation 7s infinite alternate; /* Atur animasi zoom pada gambar */
    }
    
    .background2 {
        position: fixed;
        top: 18%;
        left: 27%;
        transform: translate(-100%, -100%) scale(1); 
        width: 45%;
        height: 6%;
        background-image: url('minecraft-image-1.png'); 
        background-size: 700px;
        z-index: -1;
        animation: zoomAnimation 7s infinite alternate; /* Atur animasi zoom pada gambar */
    }
}

@media only screen and (max-width: 768px){

    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 3px solid #000;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        line-height: 1.5; /* Line spacing 1,5 */
    }

    h1 {
        margin-bottom: 20px;
        font-size: 30px;
        font-family: 'Rockwell', cursive;
        background: linear-gradient(45deg, #ff0000, #ff9900, #ffff00, #33cc33, #3366ff, #9933cc, #ff33cc);
        background-size: 600% 600%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #000; /* Add text-stroke effect to the gradient text */
        -webkit-text-fill-color: transparent;
        animation: gradientAnimation 15s infinite;
        line-height: 1.5; /* Line spacing 1,5 */
        margin-bottom: 20px; 
    }

    .input-container {
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 70%;
        padding: 10px;
        margin: 7px 0;
        border: 2px solid #00eaff;
        border-radius: 5px;
        ::placeholder { /* Ukuran placeholder */
            font-size: 14px;
        }
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.2s ease;
    }

    button:hover {
        animation: shakeAnimation 0.5s infinite, colorChangeAnimation 1s infinite, zoomAnimation 0.5s infinite;
        }

    #score {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        line-height: 1.5; /* Line spacing 1,5 */
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('path_to_minecraft.gif'); /* Ganti 'path_to_minecraft.gif' dengan URL gambar Minecraft bergerak */
        background-size: cover;
        z-index: -1;
        animation: slideBackground 20s linear infinite; /* Atur kecepatan gerakan background (20s untuk contoh ini) */
    }
    
    .background1 {
        position: fixed;
        top: 22%;
        left: 8%;
        transform: translate(-100%, -100%) scale(1); /* Menengahkan .background1 dan mengatur skala awal */
        width: 85%;
        height: 2.5%;
        background-image: url('minecraft-image.png'); /* Ganti 'path_to_minecraft.gif' dengan URL gambar Minecraft */
        background-size: cover;
        z-index: -1;
        animation: zoomAnimation 7s infinite alternate; /* Atur animasi zoom pada gambar */
    }
    
    .background2 {
        position: fixed;
        top: 25%;
        left: 18%;
        transform: translate(-100%, -100%) scale(1); 
        width: 63%;
        height: 2%;
        background-image: url('minecraft-image-1.png'); 
        background-size: cover;
        z-index: -1;
        animation: zoomAnimation 7s infinite alternate; /* Atur animasi zoom pada gambar */
    }
}

/* Animasi menggoyangkan tombol saat dihover */
@keyframes shakeAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* Animasi pergantian warna tombol saat dihover */
@keyframes colorChangeAnimation {
    0% { background-color: #007bff; }
    50% { background-color: #0056b3; }
    100% { background-color: #007bff; }
}

/* Animasi mengembang dan mengecil tombol saat dihover */
@keyframes zoomAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Animasi belok gambar saat dihover */
@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

img:hover {
    animation: rotateAnimation 1s infinite; /* Gambar akan berputar saat dihover */
}

/* Animasi background Minecraft bergerak */
@keyframes slideBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}
